:root{--primarytext-color: #fff; --secondartext-color: #000; --btnbackground-color: #273844; --overlay-color: #5b3945;}

body{margin: 0; padding: 0; box-sizing: border-box; font-family: "Montserrat", sans-serif; color: var(--primarytext-color);}

.hero-section{height: 100vh; background: url(../images/heroimage.jpg); background-repeat: no-repeat; background-size: cover; 
    background-attachment: fixed; position: relative; isolation: isolate;}

.hero-section::after{content: ""; position: absolute; z-index: -2; inset : 0; background: var(--overlay-color); opacity: .2;} 

.nav-bar{padding: 0px 200px; height: 14vh; display: flex; align-items: center; justify-content:space-between;}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

.logo{height: 50px; width: 180px;}

.logo img{ height: 100%; width: 100%;}

.nav-links ul li{display: inline-block; text-decoration: none; padding: 10px 20px;
    &:nth-child(5){background-color: var(--btnbackground-color); text-transform: uppercase; font-size: small;}
    &:nth-child(5):hover{background-color: #26353f;}}

body a{
    text-decoration: none;
    color: var(--primarytext-color);
}

.main-hero-section{padding: 0px 400px; padding-top: 100px; height: auto; display: flex; flex-direction: column; align-items: center;}

.main-hero-section h2, .main-hero-section h1{font-weight: 600; line-height: 1; text-align: center;}

.main-hero-section h2{margin-bottom: 0px; font-size: 28px;}

.main-hero-section h1{margin-bottom: 20px; font-size: 50px;}

.main-hero-section p{text-align: center; line-height: 1.5;}

.services-btn, .aboutus-btn{ padding: 15px 55px; border: 1px solid var(--primarytext-color); margin: 25px 20px 0px 20px; cursor: pointer;
    font-family: "Montserrat", sans-serif; font-size: 200; text-transform: uppercase; letter-spacing: 2px; transition: all 0.4s;}

.services-btn{background-color: transparent; color: var(--primarytext-color);}

.services-btn:hover, .aboutus-btn:hover{background-color: var(--btnbackground-color); border-color: var(--btnbackground-color); transition: all 0.4s;}

.aboutus-btn:hover{color: var(--primarytext-color);}

.services-container{height: auto; padding: 100px 200px 100px 200px;}

.services-section{display: grid; grid-template-columns: repeat(3,1fr); gap: 15px;}

.services-section .services1, .services-section .services2, .services-section .services3{ 
    display: flex; justify-content: center; align-items: center;
    background-repeat: no-repeat; background-size: cover; height: 350px; color: var(--primarytext-color); text-align: center;
    position: relative; isolation: isolate;}

.services1{background: url(../images/services1img.jpg);}

.services2{background: url(../images/services2img.jpg);}

.services3{background: url(../images/services3img.jpg);}

.services1::after{
    content: ""; 
    position: absolute; 
    z-index: -2; inset : 0; 
    background: var(--overlay-color); 
    opacity: .4;
}

.services2::after{
    content: ""; 
    position: absolute; 
    z-index: -2; inset : 0; 
    background: var(--overlay-color); 
    opacity: .4;
}

.services3::after{
    content: ""; 
    position: absolute; 
    z-index: -2; inset : 0; 
    background: var(--overlay-color); 
    opacity: .4;
}

.services1 a, .services2 a, .services3 a{font-size: 30px; font-weight: 600;}

.services-details{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: var(--secondartext-color);
}

.services-details h2{
    font-size: 30px;
    font-weight: 600;
}

.services-details p{
    line-height: 1.5;
}

.history-btn{
    margin-top: 30px;
    padding: 15px 40px;
    background-color: transparent;
    border: 2px solid var(--btnbackground-color);
    font-family: "Montserrat", sans-serif;
    font-size: 200;
    text-transform: uppercase;
    color: var(--btnbackground-color);
    letter-spacing: 2px;
    transition: all 0.4s;
    cursor: pointer;
}

.history-btn:hover{
    background-color: var(--btnbackground-color);
    border-color: var(--btnbackground-color);
    transition: all 0.4s;
    color: var(--primarytext-color);
}

.gallery-container{
    height: 100vh;
    padding: 50px 200px 100px 200px;
    color: var(--secondartext-color);
    background-color: #f3f9fb;
    position: relative;
}

.img-gallery-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.galleryimg{
    height: 250px;
    cursor: pointer;
}

.img-gallery-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-container h2{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 50px;
}

.popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);   
    height: 70%;
    width:70%;
    object-fit: cover;
}

.popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    color: var(--primarytext-color);
    cursor: pointer;
    z-index: 100;
}

/* Carousel */
.testimonial-container {
  height: 70vh;
  padding: 0px 200px;
  background-color: var(--primarytext-color);
  background: url(../images/testimonialbgimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondartext-color);
  isolation: isolate;
  position: relative;
}

.testimonial-container::after{
    content: ""; 
    position: absolute; 
    z-index: -3; 
    inset : 0; 
    background: var(--overlay-color); 
    opacity: .4;
} 

.item-list{
  width: auto;
  height: auto;
  display: grid;
}

.testimonial-info{
    padding: 50px 50px;
    height: auto;
    background-color: var(--primarytext-color);
    text-align: center;
} 

.testimonial-info p{
    height: auto;
    font-style: italic;
}

.testimonial-info h2{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.1;
}

.testimonial-info h4{
    font-size: 15px;
    font-weight: 400;
    line-height: 0.5;
}

.footer-container{
    color: black;
    height: 55vh;
    color: var(--btnbackground-color);
}

.footer-details{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 50px 200px;
}

.flex-item2{
    flex: 1;
}

.footer-address{
    flex-grow: 1;
}

.footer-links{
    flex-grow: 1;
}

.contact-details{
    flex-grow: 1;
}


.footer-address img{
    padding-bottom: 20px;
}

.footer-links h3{
    font-size: 20px;
    font-weight: 500;
}

.footer-links a{
    text-decoration: none;
    color: var(--btnbackground-color);;
}

.footer-links .fa-brands, .footer-links .fa-solid{
    margin-right: 15px;
    padding: 5px;
    border: 1px solid var(--btnbackground-color);
}

.footer-links .fa-square-facebook, .footer-links .fa-square-instagram, .footer-links .fa-envelope{
    font-size: 20px;
}

.footer-links hr{
    padding-bottom: 30px;
    color: var(--btnbackground-color);
}

.footer-container p{
    font-size: 14px;
    text-align: center;
}

.footer-container .footer-end {
    padding-top: 30px ;
}

.contact-details h3{
    font-size: 20px;
    font-weight: 500;
}

.contact-details p{
    text-align: left;
}

/* Responsive Media Queries */
@media only screen and (max-width: 1329px){
    .hero-section{
        height: auto;
    }

    .main-hero-section{
        padding: 200px 50px;
    }

    .gallery-container{
        height: auto;
    }

    .popup-image img{
        height: 70%;
        width:70%;
        object-fit: contain;
    }
    

    .testimonial-container {
        height: auto;
        padding: 50px 200px;
    }

    .footer-container{
        height: auto;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 1188px){
    .nav-bar{
        background: #26353f;
        height: 10vh;
        padding: 0px 50px;
    }
    .checkbtn{
        display: block;
      }
      .nav-links{
        position: fixed;
        width: 100%;
        height: auto;
        background: #26353f;
        top: 100px;
        right: -100%;
        text-align: center;
        transition: all .5s;
      }
      .nav-links ul li{
        display: block;
        margin: 50px 0;
        padding: 10px 0px;
        line-height: 30px;
      }
      .nav-links ul li a{
        font-size: 20px;
      }  
      #check:checked ~ .nav-links{
        right: 0;
      }

      .services-section{
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(2,1fr);
    }

    .img-gallery-section{
        grid-template-columns: repeat(2,1fr); 
        grid-template-rows: repeat(3,1fr);
    }
}

@media only screen and (max-width: 928px){
    .services-container{
        padding: 100px 50px;
    }
    .services-section{
        grid-template-columns: repeat(1,1fr); 
        grid-template-rows: repeat(3,1fr);
    }

    .services-details{
        display: flex;
        flex-direction: column;
    }

    .gallery-container{
        padding: 100px 50px;
    }

    .img-gallery-section{
        grid-template-columns: repeat(1,1fr); 
        grid-template-rows: repeat(6,1fr);
    }

    .testimonial-container {
        padding: 100px 50px;
    }

    .footer-details{
        padding: 100px 50px;
    }
}

@media only screen and (max-width: 630px){
    .nav-bar{
        padding: 0px 10px;
    }

    .footer-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-details {
        padding: 50px 0px;
    }
}